/*INDEX.HTML*/

#div1 {
    font-size: x-small;
}

#div2 {
    font-size: x-small;
}

#div3 {
    font-size: x-small;
}

#div4 {
    font-size: x-small;
}


*{
    box-sizing: border-box;
}
body {
    background-color: #fcdae8;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 100%;
    width: 1434px;
}

header {
    background-color: white;
    max-width: 1140px;
    width: 1140px;
    margin-top: 5px;
    height: 118px;
    align-items: center;
    padding: 1%;
    margin-bottom: 10px;
}

#section0 {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 20px;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionbuscador{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 20px;
}

.lupa{
    width: 13px;
}

#logo {
    width: 105px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.lista1 {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: 5px;
    margin-right: 5px;
}

a {
    color: black;
    text-decoration: none;
}

#sectiontodo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 1140px;
    width: 1140px;
}

#section1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: top;
    width: 26%;
    margin-right: 2%;
    max-width: 100%;
}

.ul{
    padding: 0%;
}

.menu {
    background-color: white;
    font-weight: normal;
    border-radius: 20px;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    list-style: none;
    margin-bottom: 40px;
    width: 100%;
}

.vendidosyaleatorios {
    background-color: white;
    color: black;
    padding: 1%;
    width: 100%;
}

.fila {
    display: flex;
    flex-direction: row;
    align-items: top center;
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
    justify-content: space-between;
    font-optical-sizing: 20px;
    align-items: center;
    font-weight: 10px;
    font-style: normal;
    width: 72%;
    max-width: 72%;
}

.fila2 {
   display: flex;
    flex-direction: row;
    align-items: top center;
    flex-wrap: wrap;
    justify-content: space-between;
    font-optical-sizing: 20px;
    align-items: center;
    font-weight: 10px;
    font-style: normal;
    width: 72%;
    max-width: 72%;
    margin-left: auto;
}

#imagenes {
    width: 100%;
    justify-content: space-between;
}

.imagen1 {
    color: #666;
    width: 25%;
    margin-right: 1%;
    margin-bottom: 5%;
    background-color: white;
    padding: 2%;
    height: 630px;
}

#verdetalle {
    color: white;
    background-color: #444;
    text-align: center;
    padding: 7px;
    width: 55px;
    font-size: 12px;
}

footer {
    background-color: white;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    padding: 2px;
    width: 1200px;
    max-width: 100%;
}

#moliskinco {
    font-weight: bold;
    align-self: center;
    font-size: 20px;
}

/* LOGIN.HTML*/

#busqueda {
    background-color: #fcdae8;
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 20px;
    height: 30px;
}

#mail {
    background-color: #fcdae8;
    border: none;
    border-bottom: 2px solid grey;
    margin-bottom: 10px;
    height: 30px;
    width: 200px;
}

#contra {
    background-color: #fcdae8;
    border: none;
    border-bottom: 2px solid grey;
    margin-bottom: 10px;
    height: 30px;
    width: 200px;
}

#reContra {
    background-color: #fcdae8;
    border: none;
    border-bottom: 2px solid grey;
    margin-bottom: 10px;
    height: 30px;
    width: 200px;
}

#mainlogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 1118px;
    margin-bottom: 10px;
    margin-top: 2%;
    margin-right: 30%;
    margin-left: 30%;
    border: solid 2px black;
    border-radius: 20%;
}
#info_boton {
    display: flex;
    flex-direction: row;
    margin-top: 8%;
    margin-bottom: 8%;
}
#enviar {
    align-self: center;
}
#seleccione {
    margin-bottom: 5px;
}

#formLogin3 {
    padding-top: 15px;
}

#formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

#boton {
    border: none;
    width: 100px;
    margin-top: 10px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
}

#pais {
    margin-bottom: 10px;
    background-color: #fcdae8;
    border: none;
    border-bottom: 2px solid grey;
    height: 30px;
    width: 200px;

}

#sectionregistro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 1118px;
    margin-bottom: 10px;
    margin-top: 2%;
    margin-right: 30%;
    margin-left: 30%;
    border: solid 2px black;
    border-radius: 20%;
}

/* PRODUCT.HTML */
.fila_product {
    display: flex;
    flex-direction: row;
    align-items: top center;
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
    justify-content: space-between;
    font-optical-sizing: 20px;
    align-items: center;
    font-weight: 10px;
    font-style: normal;
    width: 72%;
    max-width: 72%;
    background-color: white;
    padding: 30px;
}
h3.comentarios {
    margin-bottom: 0px;
    margin-top: 5%;
}
#img_detalle {
    width: 95%;
    margin-bottom: 0%;
}

.product_detalle {
    width: 47%;
}

.stock {
    margin-left: 5%;
    margin-top: 0%;
    line-height: 8px;
}

.tags {
    color: blue;
}

.mascarilla0 {
    width: 47%;
}

.rating {
    width: 30%;
    margin-right: 10%;
    height: 30px;
}

.review {
    margin-right: 5%;
}

.natalia {
    color: #666;
    margin-bottom: 0%;
    margin-top: 0%;
    font-size: 15px;
}

.fecha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0%;
}

/* SEARCH-RESULTS.HTML */

.resultadodebusqueda {
    background-color: white;
    color: black;
    padding: 2%;
    margin-right: 20%;
}
#error_resultado {
    display: none;
}

.disbuscador1{
    display: flex;
}

.divbuscador2{
    display: flex;
}

/* RESPONSIVE DESIGN PARA CELULAR */

@media (max-width: 420px) {
    body {
        padding: 2%;
        font-size: 14px;
        margin: 0%;
        width: 100%;
    }

    header {
        width: 100%;
        padding: 2%;
        max-width: none;
        height: auto;
        margin-bottom: 10px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
    }

    #section0 {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    #logo {
        width: 80px;
        margin-right: 0%;
    }

    #moliskinco {
        font-size: 18px;
        align-self: center;
        margin-left: 10%;
    }

    #busqueda {
        width: 100%;
        height: 35px;
        font-size: 14px;
    }

    .lista1 {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin: 0%;
        padding-left: 0%;
    }

    .lista1 a {
        font-size: 12px;
    }

    #sectiontodo {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        max-width: none;
        align-items: center;
    }

    #section1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 0%;
    }

    .menu {
        margin-bottom: 10px;
        font-size: 12px;
        width: 100%;
        margin: 10px 0;
        font-size: 16px;
        align-items: stretch;
    }

    .vendidosyaleatorios {
        width: 100%;
        text-align: center;
        font-size: 25px;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .fila {
        width: 100%;
        max-width: none;
        flex-direction: column;
        align-items: stretch;
        margin: 0 0 20px 0;
    }

    .imagen1 {
        width: 100%;
        margin: 0 0 10px 0;
        align-items: center;
    }

    #imagenes {
        width: 100%;
        height: auto;
    }

    #verdetalle {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        display: block;
    }

    footer {
        width: 100%;
        padding: 2%;
        max-width: none;
        height: auto;
        font-size: 12px;
        text-align: center;
    }

    #mainlogin{
        width: 100%;
        max-width: 350px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 20px;
        align-self: center;
        font-size: 20px;
        height: 350px;
    }

     #sectionregistro{
        width: 100%;
        max-width: 350px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 20px;
        align-self: center;
        font-size: 20px;
        height: 475px;
    }

    #mail,
    #contra,
    #pais {
        width: 100%;
    }

    .fila_product {
        width: 100%;
        max-width: none;
        flex-direction: column;
    }

    .product_detalle{
        width: 100%;
        margin-bottom: 10px;
    }
    .mascarilla0 {
        width: 98%;
        margin-bottom: 10px;
        padding: 2%;
    }

    .resultadodebusqueda {
        margin-right: 0;
        width: 100%;
    }
    .sectionbuscador{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0px;
    }
}