body {
    background-color: lightpink;
}
header {
    background-color: white;
    max-width: 100%;
    height: 2%;
    padding: 0.5%;
    margin-bottom: 1.5%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 20%;
    height: 20%;
}

.lista1 {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: 5px;
    gap: 5px;
    margin-right: 5px;
}
a {
    color: black;
    text-decoration: none;
}
#section1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#section2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 30%;
    margin-right: 30px;
}
.menu {
    background-color: white;
    font-weight: normal;
    border-radius: 20px;
    text-align: center;
    height: 30px;
    padding-top: 10px;
}
.vendidos {
    color: white;
    width: 67%;
    height: 5%;
}
.aleatorios {
    color: white;
}
.filauno {
    display: flex;
    flex-direction: row;
    align-items: top center;
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
    justify-content: space-between;
    font-optical-sizing: 20px;
    align-items: center;
    font-weight: 10px;
    font-style: normal;
    width: 65%;
}

.filados{
    display: flex;
    flex-direction: row;
    align-items: top center;
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: 20px;
    font-weight: 10px;
    font-style: normal;
    width: 100%;
}
#imagenes{
    width: 100%;
    justify-content: space-between;
}
.imagen1{
    color: #666;
    width: 45%; 
}
.imagen2{
    color: #666;
    width: 32%;
    margin-left: 2%;
    margin-right: 2%;
}
.imagen3 {
    color: #666;
    width: 32%;
}
#vermas{
    color: white;
    background-color: #444;
    text-align: center;
    padding: 7px;
    width: 55px;
    font-size: 12px;
    font-weight: bold;
}
